{% extends 'base.html' %}
{% block aboutpage %}

<h1 class="about-header">About Us</h1>
<center><p class="about-body">Our Dysfunctional Scrum Team</p></center>

<div class="row">
    <div class="column">
        <img class="face" src="../static/media/paul.png" alt="Paul" style="width:100%">
        <p class="face-name">Paul Bokelman</p>
        <p class="face-text">Does everything</p>
    </div>
    <div class="column">
        <img class="face" src="../static/media/kenzie.png" alt="Kenzie" style="width:100%">
        <p class="face-name">Mackenzie Aboy</p>
        <p class="face-text">Does something idk</p>
    </div>
    <div class="column">
        <img class="face" src="../static/media/anthony.png" alt="Anthony" style="width:100%">
        <p class="face-name">Anthony Giustiniano</p>
        <p class="face-text">Doesn't know how to code</p>
    </div>
    <div class="column">
        <img class="face" src="../static/media/sam.png" alt="Sam" style="width:100%">
        <p class="face-name">Sam Koenig</p>
        <p class="face-text">Does some stuff</p>
    </div>
</div>





{% endblock %}