<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/media/Favicon.png">
    <script src="https://kit.fontawesome.com/ecb5994ee2.js" crossorigin="anonymous"></script>
    <title>{% block title %}Fax{% endblock %}</title>
    {% block meta %}{% endblock %}
    <video playsinline autoplay muted loop>
        <source src="../static/media/FFGBG.mp4" type="video/mp4">
    </video>
</head>
<body>
<ul>
    <div class="logo">
    <li style="margin-left: 0%; position: relative; top:-3px;"><a class="title" href="home">FAX-GEN</a></li>
    </div>
    {% block loginvariant %}<li style="float:right"><a class="navbar-right" href="{{ url_for('login') }}">Login</a></li>{% endblock %}
    <li style="float:right; margin-right:15px;"><a class="navbar-right" href="about">About</a></li>
    <li>
</ul>
{% block dashboard %}
{% endblock %}
{% block styles %}
{% endblock %}
{% block signup %}
{% endblock %}
{% block login %}
{% endblock %}
{% block homepage %}
{% endblock %}
{% block databasepage %}
{% endblock %}
{% block aboutpage %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>